.container {
  margin-bottom: 100px;
}
.orangeBG {
  background-color: #fceae8;
  border-radius: 10px;
}

.carousel-item {
  padding: 20px 40px;
}

.price {
  color: #ff136f;
}

.buy-new-button {
  background-image: linear-gradient(to bottom, #ff589b 0%, #ff136f 100%);
  color: #fff;
  border: none;
  border-radius: 6px;
  padding: 8px 25px;
  cursor: pointer;
}

.cat1,
.cat2,
.cat3 {
  padding: 20px 30px;
  border-radius: 10px;
  color: white;
}

.cat1 {
  background-color: #fd841f;
}

.cat2 {
  background-color: #cd104d;
}

.cat3 {
  background-color: #9c2c77;
}

.categories img {
  width: 100px;
}

.card {
  border: none;
  box-shadow: 5px 5px 10px lightgray;
}

#register {
  height: 300px;
}

#register h6 {
  color: gray;
}

footer {
  text-align: center;
  font-size: 16px;
  padding-bottom: 20px;
}
